.valign {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.ai-login-container {
  margin-top: 30px !important;
  height: 85vh;
}

.login-button-container .btn {
  width: 100%;
  font-size: 1.4rem !important;
  border-radius: 30px;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif
}

.logo {
  width: 45px;
  animation: spin-animation 15s infinite linear;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.ai-title {
  font-size: 2rem;
  font-family: "Helvetica Neue", "Segoe UI", helvetica, verdana, sans-serif
}
