.happy-students-image {
    width: 80%;
    object-fit: cover;
}
.format-image {
  text-align: center;
  margin-bottom: 5px;
}
.dx-button {
  margin: 5px 10px;
}
button {
  font-size: 60px;
}

.valign {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.login-button-container {
  text-align: center;
  margin-bottom: 10px;

  .btn {
    margin: 10px;
    width: 100%;
  }
}

